.blockFilms {
    max-width: 454px;
    max-height: 281px;
    margin: 0 0 33px 30px;
    display: flex;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    box-shadow: 0 4px 12px 0 #00000026;

}

.img-films {
    width: 183px;
    height: 281px;
    display: block;
}
.blockInfo-title{

}
h5{
    margin: 12px 0 0 20px;
    padding: 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
}
.blockInfo-data {
    font-family: Inter, sans-serif;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #827E7E;
    margin: 7px 0 0 20px;
}
.blockInfo-overview {
    font-family: Inter, sans-serif;
    font-size: 13px;
    line-height: 22px;
    margin: 10px 0 0 20px;
    -webkit-line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}